[ ...
	"Total Number of Retrieval Attempts: Day x Group"; ...
	"Total Number of Successful Retrievals: Day x Group"; ... 
	"Total Number of Unsuccessful Retrievals: Day x Group"; ...
];

[...
	0 150; ...
	0 50;  ...
	0 150; ...
	
];