/* Main: contains "main" contents in grid */
div.row.row-main {
    height: 70%;
    width: 100%;
    min-height:850px;
    border-style: none;
    background-color: transparent;
    overflow-x: auto;
    overflow-y: auto;
}

/* Main: holds most of the "contents" to be displayed */
div.container.container-fluid.container-fluid-main {
    height: 100%;
    width: 100%;
    border-style: none;
    background-color: transparent;
    overflow-x: auto;
    overflow-y: hidden;
}

/* pane-main: Fills "tab-content-main" based on active tab */
div.tab.tab-pane.tab-pane-main {
    height: 100%;
    width: 100%;
    border-style: none;
    background-color: transparent;
    overflow-x: auto;
    overflow-y: auto;
}


/* Tab subclasses for Bootstrap lists (`ul`) */
/* content-main: Main panel contents container */
div.tab.tab-content.tab-content-main {
    height: 100%;
    width: 100%;
    border-style: none;
    background-color: transparent;
    overflow-x: auto;
    overflow-y: auto;
}

.display {
    width:1080px;
    background-color: transparent;
}

.panel {
    border-style: none;
    background-color: transparent;
}

