/* Style default for main Header */
h1 {
    font-family: 'Arial Black', Charcoal, sans-serif;
    font-size: 32px;
    margin-left: 0px;
    padding: 1px 1px;
    color:black;
}

h1.panelheading {
    color:whitesmoke;
    padding: 0px 0px;
    font-size: 30px;
    vertical-align: middle;
    font-family: 'Arial Black', Charcoal, sans-serif;
}

/* Style default for secondary Header */
h2 {
    font-family: 'Arial Black', Charcoal, sans-serif;
    font-size: 24px;
    margin-left: 2px;
    padding: 2px 2px;
    color: black;
}

/* Style default for tertiary Header */
h3 {
    font-family: 'Arial Black', Charcoal, sans-serif;
    font-size: 20px;
    margin-left: 4px;
    padding: 2px 2px;
    color: black;
}

/* Style default for quarternary Header */
h4 {
    font-family: 'Arial Black', Charcoal, sans-serif;
    font-size: 18px;
    margin-left: 6px;
    padding: 3px 3px;
    color: darkslateblue;
}

/* Style for default "normal" text */
p {
    font-family: 'Arial', Charcoal, sans-serif;
    font-size: 14px;
    margin-left: 10px;
    padding: 3px 3px;
    color: darkslategrey;
    text-overflow:ellipsis;
    flex-wrap:wrap;
}

p.abstract {
    font-size: 15px;
    padding: 5px 35px 15px 15px;
    max-width: 800px;
    max-height: 800px;
}